.formControl.error input,
.formControl.error textarea {
   border: solid red 2px;
}

.formControl.error span {
   color: red;
}

.formControlError {
   border: 2px red solid;
}

.error {
   color: red;
}